<h1>About Our Little Shop </h1>

<div class="about">We specialize in all things Gypsy. Gypsy T-Shirts, sunglasses, hats, belt buckles, socks, trinkets, sh*t to put on your wall, sh*t to put on a table, sh*t to put on the ground, and of course gypsy gifts to give to friends. If it's gypsy, we have it, and if we don't,  we can sure try to get it for you!</div>

<center><%= image_tag("disco_ball_hat.jpg", class: "img-responsive my-image") %></center>


