<h1>CONTACT ME</h1>
<div class="contact">Let me know what you think of our goods and don't be afraid to check out our social media sites below, thanks!~ <a href ="mailto:seth_dylan@aol.com">Seth's email</a></div>


<div><center><%= image_tag("co_belt_buckle.jpg", class: "img-responsive my-image") %></center>,</div>