<h1>CONTACT ME</h1>
<p>Let me know what you think of our goods and don't be afraid to check out our social media sites below, thanks!~ <a href ="mailto:seth_dylan@aol.com">Seth's email</a></p>



</div><center><%= image_tag("co_belt_buckle.jpg", class: "img-responsive my-image") %></center>