<div class="panel panel-default">
  <div class="panel-body" id="thank-you">
    <h1>Thank you. We have received your message and will respond as soon as possible.</h1>

    <center><%= image_tag("silverwolf.jpg", class: "img-responsive my-image") %></center>
  </div><!-- / panel-body -->

</div><!-- / panel -->