<table>
  <tbody>
    <tr>
      <td><h2>Thank you for purchasing from "The GOODS"!</h2></td>
    </tr>
    <tr>
      <td><p>Dont' be afraid to stop by again.<%= @appname %>!</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>