<table>
  <tbody>
    <tr>
      <td><h2>Thank you for purchasing from "The GOODS"!</h2></td>
    </tr>
    <tr>
      <td><p>Dont' be afraid to stop by again.</p></td>
    </tr>
    <tr>
      <td>Your order of <%= @order.product.name %> will ship soon!</td>
    </tr>
  </tbody>
</table>