body {
  background-color: #fff;
  color: #333;
  font-family: Monoton;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  text-align:center;
  font-family: monoton;
  word-spacing: 4px;
  font-size: 14px;
  line-height: 18px;
  margin: 45px 5px 50px 20px;
}



p {
    font-size: 20px;
    word-spacing: 4px;
    line-height: 60%;
    padding-top: 0px;
}


input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    width: 6em;
    height: 2em;
}



pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.alert {
    font-size: 25px;
    word-spacing: 4px;
    line-height: 100%;
    padding: 10px;
    margin-top: 4em;
    margin-bottom: 50px;
    border: 1px solid transparent;
    border-radius: 8px;
    text-align: center;

}


th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
    color: #088da5;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

h4 {
    text-align: center;
    font-family: Monoton;
    display: block;
    font-size: 30px;
    word-spacing: 4px;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: -40px;
}

.rated {
    text-align: center;
    padding: 0px;
    margin: -20px;
}

.rating {
    text-align: center;

}

a {
    text-align: center;
    font-family: Monoton;
    color: #088da5;
    letter-spacing: 1px;
}


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    word-spacing: 5px;
}


.col-sm-6.col-md-6 {
    margin-top: -150px;
    padding-bottom: 0px;
    padding-top: 160px;
    padding-left: 6px;
    padding-right: 100px;
}

.col-sm-6 col-md-6 goods-images {
    height: fixed;
    padding: 80px;

}


.show {
  padding-top: 85px;
  padding: 0px;
}

.show-name {
    font-size: 35px;
    word-spacing: 8px;
    line-height: 50%;
    padding-top: 5px;
    margin-top: 30px;

}


#edit-destroy {
  margin: 30px;
  font-size: 16px;
  word-spacing: 8px;
}

.edit-back {
  font-size: 20px;
  text-align: center;
  word-spacing: 8px;
  line-height: 50%;
  margin-top: 35px;

}


.average-rating {
  padding: 0px;
  margin: 30px;
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 250%;
    height: 600px;
    border: 3px solid black;
    border-radius: 25%;
}



.img-responsive:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#thank-you {
    position: inline;
    background-color: #b1a8c1;
    padding-top: 70px;
    font-size: 40px;
    line-height: 50px;
}


#new_comment {
    padding: 0px;
    text-align: center;
    font-size: 40px;
    padding-top: 0px;
    color: #088DA5;
}


textarea {
    font-family: inherit;
    font-size: inherit;
    color: #088DA5;
    word-spacing: 4px;
    line-height: 105%;
    padding-top: 5px;
    border-radius: 8px;
}


.new-reviews {
    text-align: center;
    font-size: 45px;
    word-spacing: 6px;
    color: #1897E0;
    padding-top: 75px;
    padding-bottom: 45px;

}


/**** submit/search button****/

input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    width: 8em;
    height: 2em;
    border-radius: 20px;
}


.rated {
    font-family: Monoton;
    text-align: center;
    font-size: 45px;
    word-spacing: 6px;
    color: black;
    padding-top: 5px;
    padding-bottom: 45px;
}


#new-product {
  font-family: Monoton;
  color: black;
  font-size: 16px;
  padding-right: 100px
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 200%;
    height: 600px;
    position: relative;
    margin: auto;
}



.zoomLens{
  border-radius: 50%;
  height: 400px;
  width: 200px;
}

.zoomContainer{
  border-radius: 50%;
  height: 400px;
  width: 200px;

}

.img-zoom{
  border: 3px solid black;
  border-radius: 10px;
}





