// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    background-color: #b1a8c1;
}


/**** Nav bar page ****/
.navbar {
  background-color: #088da5;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  line-height: normal;
  font-family: Monoton;
}

.navbar a {
  color: #9ad6d0;
  font-size: 120%;
  font-family: Monoton;
  word-spacing: 2px;
  display: inline-block;
  line-height: normal;
}

.navbar a:hover {
  color: white;
  text-decoration: none;
}

.navbar ul li  {
  color: #9ad6d0;
  font-size: 100%;
  letter-spacing:  0.25em;
  text-decoration: none;
  font-family: Monoton;
}

a.nav-item.nav-link {
line-height: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9ad6d0;
    display: inline-block;
    padding: 19px -16px;
  }

.navbar-right {
    float: right!important;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 10px;
    margin-left: 0;
  }

/********Carousel******/

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 200%;

    height: 450px;
    position: relative;
    margin: auto;
}

.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 5px;
    font-family: Monoton;
    color: #f1fde7;
    font-size: 30px;
    letter-spacing:  0.25em;
}


h1,{
  font-family: Monoton;
  color: #34495e;
  text-align: center;
  padding-top: 80px;
  text-shadow: 3px 2px #a4add3;
  word-spacing: 10px;
  font-size: 35px;
}

h2,{
  font-family: Monoton;
  color: #34495e;
  text-align: center;
  text-shadow: 3px 2px #a4add3;
  word-spacing: 10px;
  padding-bottom: 60px;
  padding: 40px;
  padding-top: 10px;
}


h3 {
  font-family: Monoton;
  color: #34495e;
  text-align: center;
  word-spacing: 10px;

}

.about {
  font-family: Monoton;
  font-size: 28px;
  color: #34495e;
  text-align: center;
  word-spacing: 5px;
  line-height: normal;
  padding-top: 40px;
  padding-bottom: 30px;
}

.contact {
  font-family: Monoton;
  font-size: 28px;
  color: #34495e;
  text-align: center;
  word-spacing: 5px;
  line-height: normal;
  padding-top: 40px;
  padding-bottom: 30px;
}



/********Contact Page******/

.contact {
  font-family: Monoton;
  font-size: 28px;
  color: #34495e;
  text-align: center;
  word-spacing: 5px;
  line-height: normal;
  padding-top: 40px;
  padding-bottom: 30px;
}

.row {
  display: inline;
  font-family: Monoton;
  margin-top: 50px;
}

.col-md-4 {
    width: 33.33333333%;
    padding-top: 65px;
    padding-left: 90px;
}


/********Thank You Page******/

#thank-you {
 position: inline;
 background-color: #b1a8c1;
 padding-top: 70px;
}



/********Log in/Sign up******/

.field {
  font-family: Monoton;
  font-size: 25px;
  color: #34495e;
  word-spacing: 5px;
  line-height: normal;
  padding-left: 530px;
}

.actions {
  font-family: Monoton;
  font-size: 15px;
  color: #34495e;
  word-spacing: 20px;
  line-height: normal;
  padding-left: 530px;
}

a {
  font-family: Monoton;

}

label {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 0px;
  font-size: 1em;
}




/********Footer******/

footer {
  position:fixed;
  bottom:0;
  width:100%;
  left: 0;
  padding: 20px;
  text-align: center;
  display: inline-table;
  background-color: #088da5;
}
.social a {
  padding: 60px
}

.social p {
  margin-top: 40px;
}

#tag {
  font-family: Monoton;
  color: #9ad6d0;
  word-spacing: 5px;
  font-size: 16px;
}


a {
  font-family: Monoton;
  color: #088da5;
}

