<h1 class="text-xs-center">The Goods</h1>

<p id="notice"><%= notice %></p>
<%= alert %>

<div class="container-fluid">
  <div class="row">

      <%= render @products %>

  </div>
  <%= link_to 'New Product', new_product_path %>

</div>

