<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- potential css fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Monoton" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

 <body>
<!--navbar starts here-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="projectName navbar-brand">
            <a href="/static_pages/index">Seth's Gypsy Goods</a>
          </div> <!--end projectName -->
        </div> <!--end navbar-header -->

<!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/static_pages/index">Home</a></li>
            <li><a href="/static_pages/about">About</a></li>
            <li><a href="/static_pages/contact">Contact</a></li>
          </ul>
        </div> <!-- nav -->
      </div><!-- end nav container-->
    </nav> <!-- end navbar-->



    <%= yield %>

    <footer>
      <div id="footer"> <!--Start of footer -->
    <div class="social">
      <a target="_blank" title="follow me on facebook" href="https://www.facebook.com/seth.dornbusch">
        <img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png">
      </a>

       <a target="_blank" title="follow me on instagram" href="https://www.instagram.com/sethdylan/">
        <img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" border=0>
      </a>

       <a target="_blank" title="follow me on Twitter" href="https://mobile.twitter.com/sethdornbusch">
        <img alt="follow me on twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter40x40.png" border=0>
      </a>

      <a target href="https://sg.linkedin.com/pub/seth-dornbusch/8/70/649">
        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_120x33.png" width="120" height="33" border="0" alt="View Seth Dornbusch's profile on LinkedIn">
      </a> <a id="tag">&copy; 2016 Seth's Gypsy Goods</a>
    </div>
  </div> <!-- End of footer -->

    </footer>

  </body>
</html>
